body{
    color: rgb(189, 189, 189);
}
h1{
    text-align: center;
    font-size: 38px;
    font-family: Tahoma;
    color: black;
}
.corpo{
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    font-family: Tahoma;
    font-size: 16px;
    color: black;
}

nav {
    background-color: #003cac;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    position: relative;
}

.menu > li {
    padding: 15px 20px;
}

.menu > li > a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Tahoma;
}

.menu > li:hover {
    background-color: #444;
}

/* Estilos do Submenu */
.submenu {
    list-style: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    padding: 0;
    display: none;
}

.submenu li {
    padding: 10px 20px;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Tahoma;
}

.submenu li:hover {
    background-color: #444;
}

.menu li:hover .submenu {
    display: block;
}
/* criar um <p class> para o corpo do site, ou atualizar o corpo ja existente */